.clsCreateform{
  margin: auto;
  padding-bottom: 12px;
}

.clsTextField {
  width: 20rem;
}
.clsTextFieldLabel {
  width: 10rem;
  font-weight: bold;
}

.clsButton {
  width: 10rem;
}

.addEventCard {
  background-color: rgb(16, 29, 48);
  color: white;
}
.clsSuggestionItem {
  color: #ffffff;
  
}

.clsSuggestionItem-active {
  background:  #414c5a;
  color: #ffffff;
  line-height: 2rem;
  font-size:1.2rem;
}