.eventCard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: inline-flex;
    margin: 1rem;
}

/* On mouse-over, add a deeper shadow */
.eventCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    
}

/* Add some padding inside the card container */
.eventCardContainer {
    padding: 2px 16px;
    
}

.clsCreateButtonContainer {
    margin: 1.5rem 40%;
}

.clsCreateButton {
    background: transparent;
    width: 100%;
    border: 2px solid #014556;
    border-radius: 1rem;
    outline: none;
    transition: 0.3s;
    /* margin-top: 5rem; */
}

.clsCreateButton:hover,
.clsCreateButton:focus {
    background: #014556;
    width: 100%;
    outline: none;
    color: white;
    box-shadow: 0px 0px 3px #014556;
}

.clsEventContainer {
    padding: 1rem;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}