.clssearch-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 0px 0px 50px 20px #ffffff;

}

.clssearch-container {
    flex: 100%;
    position: sticky;
    height: -webkit-fill-available;
    background: url("./images/blue-clouds-daylight-2088282.jpg"), linear-gradient(to bottom, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 1) 99%);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    background-position-y: bottom;

}

.clssearch-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

}

.clssearch-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: white;
    font-size: 1rem;
    transition: 0.4s;
    line-height: 40px;


}

.clssearch-box:hover {
    box-shadow: 0px 0px 70px 30px #ffffff;
}

.clssearch-box:hover>.clssearch-txt {
    width: 50rem;
    padding: 0px 6px;
    transition: 0.4s;
    display: inline;

}

.clssearch-box:hover>.clssearch-btn {
    background: white;

}

.clssearch-box:hover>.clssearch-container {
    /* opacity: 0.5; */
    background-color: rgba(0, 0, 0, 0.4);
    filter: blur(9px);
}

.hometitle {
    position: absolute;
    z-index: 1;
    color: white;
    align-items: center;
    left: 10%;
    top: 20%;
    font-size: 15rem;
    font-family: "Candara";
    font-weight: bolder;
    text-shadow: 0px 9rem 22px #ffffff6b, 0px 0px 50px #000000;


}

.clsSuggestionContainer {
    position: relative;
    margin-top: 4rem !important;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.clsSuggestionItem {
    color: #ffffff;

}

.clsSuggestionItem-active {
    background: #414c5a;
    color: #ffffff;
    line-height: 2rem;
    font-size: 1.2rem;
}

.clsToggleSwitch {}

.clsToggleSwitchContainer {
    /* padding: 4% 42.5%; */
    display: inline-flex;
}

.clsToggleLabels {
    color: white;
    text-shadow: 0px 0px 5px white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.6rem;
}

.clsToggleSwitchContainerInner {
    display: inline-flex;
}